.rawapp-container {
    position: relative;

}

.squiggles {
    position: absolute;
    z-index: -5;
    top: -10px;
}

.squiggle_1 {
    width: 100%;
}

.squiggle_2-container {
    width: 100%;
    margin-top: 150px;
}

.squiggle_2 {
    width: 15%;
}

.squiggle_3-container {
    /* width: 100%; */
    margin-top: -118px;
    padding-left: 454px;
}
.squiggle_3 {
    width: 100%;
}
.squiggle_4 {
    width: 37%;
    margin-top: -100px;
}


.rawapp-container__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rawapp-container__header h1 {
    font-size: 55px;
    font-weight: 700;
    color: #4D4D4D;
    margin: 100px 0 0 0;
}
.rawapp-container__header p {
    font-size: 23px;
    font-weight: 400;
    color: #717171;
    margin-top: 10px;
}

.features-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-one, .feature-two, .feature-three {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0 80px;
}

.feature-one .feature-text, .feature-three .feature-text {
    padding-right: 30px;
}

.feature-two .feature-text {
    padding-left: 30px;
}

.feature-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 580px;
}

.feature-text h1{
    color: #164C28;
    font-size: 36px;
    font-weight: 600;
    margin: 0;
    padding-right: 5px;
    padding-top: 70px;
}

.feature-text p{
    color: #717171;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    word-spacing: -1px;
    text-align: justify;
}

.feature-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.feature-img img {
    width: 90%;
}

/* 2xl */
@media (min-width: 2560px) {
    .rawapp-container__header {
        padding-left: 6%;
    }

    .features-container {
        gap: 50px;
        padding-left: 6%;
    }

    .feature-one, .feature-two, .feature-three {
        gap: 200px;
    }

    .rawapp-container__header h1 {
        font-size: 80px;
    }
    .rawapp-container__header p {
        font-size: 32px;
    }

    .feature-text h1{
        font-size: 60px;
    }
    
    .feature-text p{
        font-size: 30px;
        line-height: 30px;
        word-spacing: 0px;
    }

    .feature-text {
        max-width: 1000px;
    }

    
    .squiggle_1 {
        width: 100%;
    }
    
    .squiggle_1-container {
        width: 148%;
    }

    .squiggle_2-container {
        width: 100%;
        margin-top: 150px;
    }
    
    .squiggle_2 {
        width: 15%;
    }
    
    .squiggle_3-container {
        margin-top: -118px;
        padding-left: 454px;
    }
    .squiggle_3 {
        width: 100%;
    }
    .squiggle_4 {
        width: 38%;
        margin-top: -100px;
    }
}

/* xl */
@media (min-width: 1440px) {
    .rawapp-container__header {
        padding-left: 1%;
    }

    .features-container {
        padding-left: 1%;
    }
    
    
    .squiggle_1 {
        width: 101.5%;
    }
    
    .squiggle_2-container {
        margin-top: 140px;
    }
    
    .squiggle_3 {
        width: 101.5%;
    }
    .squiggle_4 {
        width: 50%;
        margin-top: -380px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .feature-text h1{
        font-size: 30px;
        padding-top: 40px;
    }

    .feature-text {
        max-width: 500px;
    }

    .features-container {
        gap: 20px;
    }

    .squiggle_2-container {
        width: 100%;
        margin-top: 80px;
    }
    
    .squiggle_2 {
        width: 13%;
    }
    
    .squiggle_3-container {
        margin-top: -230px;
    }
}

/* md */
@media (max-width: 768px) {
    
    .rawapp-container__header h1 {
        font-size: 40px;
    }
    .rawapp-container__header p {
        font-size: 20px;
    }

    .feature-text h1{
        font-size: 30px;
        text-align: center;
        padding-top: 30px;
    }
    
    .feature-text p{
        text-align: center;
    }

    .feature-one, .feature-two, .feature-three {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0px 0px;
    }

    .feature-two {
        flex-direction: column-reverse; 
    }

    .feature-one .feature-text, .feature-three .feature-text {
        padding-right: 0px;
    }
    
    .feature-two .feature-text {
        padding-left: 0px;
    }

    .feature-img {
        margin-top: 50px;
    }
    
    .squiggle_3-container {
        margin-top: 80px;
        padding-left: 454px;
    }

    .squiggle_4 {
        width: 37%;
        margin-top: -100px;
    }
}

/* sm */
@media (max-width: 640px) {}

/* xs */
@media (max-width: 475px) {}