.waitlist-container {
    padding: 70px 0px 10px 0px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 35px;
}

.waitlist-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
  }
  
  .waitlist-img img {
    width: 100%;
  }

  .waitlist-form {
    width: 50%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  .waitlist-form span {
    font-weight: 700;
  }
  
  .waitlist-form h2 {
    font-size: 29px;
    margin-bottom: 0;
    color: #2d6a4f;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
  }
  
  .waitlist-form form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    flex-direction: column;
    width: 100%;
  }
  
  .waitlist-form input {
    width: 80%;
    padding: 10px 15px;
    border: 1px solid #E0E0E0;
    border-radius: 1px;
    font-size: 11px;
    font-weight: 300;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }

  .waitlist-form input:focus {
    outline: none;
  }
  
  .waitlist-form button {
    background-color: #164C28;
    color: white;
    padding: 15px 28px;
    font-size: 15px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
  }

  .waitlist-form button img {
    width: 18px;
  }

  /* 2xl */
@media (min-width: 2560px) {
  .waitlist-container {
    gap: 50px;
}

  .waitlist-form {
    width: 100%;
    max-width: 1000px;
    gap: 50px;
  }

  .waitlist-form h2 {
    font-size: 50px;
    line-height: 60px;
  }

  .waitlist-form form {
    gap: 50px;
  }

  .waitlist-form input {
    padding: 15px 20px;
    font-size: 24px;
  }

  .waitlist-form button {
    padding: 18px 32px;
    font-size: 20px;
    gap: 8px;
  }

  .waitlist-form button img {
    width: 20px;
  }
}

/* xl */
@media (min-width: 1440px) {}

/* lg */
@media (max-width: 1024px) {
  .waitlist-container {
    padding: 70px 0px 10px 0px;
    flex-direction: column;
}

.waitlist-img {
  flex-direction: column;
  width: 100%;
}

.waitlist-form {
  width: 100%;
  max-width: 800px;
  gap: 40px;
}

.waitlist-form h2 {
  font-size: 32px;
}

.waitlist-form input {
  padding: 15px 20px;
  font-size: 16px;
}

}

/* md */
@media (max-width: 768px) {
  .waitlist-container {
    padding: 70px 0px 10px 0px;
    flex-direction: column;
}

.waitlist-img {
  flex-direction: column;
  width: 100%;
}

.waitlist-form {
  width: 75%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
}

/* sm */
@media (max-width: 640px) {}

/* xs */
@media (max-width: 475px) {}
  