.faq-container__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faq-container__header h1 {
    font-size: 55px;
    font-weight: 700;
    color: #4D4D4D;
    margin: 180px 0 0 0;
}

.faq-contents__container {
    width: 99%;
}

.faq-container__header p {
    font-size: 23px;
    font-weight: 400;
    color: #717171;
    margin-top: 10px;
    margin-bottom: 70px;
}

.faq-contents {
    padding: 5px 200px 0px 200px;
}

.faq-question {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px 30px 40px;
    cursor: pointer;
}
.faq-question__number {
    color: rgba(60, 60, 67, 0.5);
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.faq-question__container {
    display: flex;
    align-items: center;
}

.actual-faq-question {
    margin-left: 28px;
    font-size: 25px;
    font-weight: 700;
    color: #000;
}

.faq-answer {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 120px;
    color: rgba(60, 60, 67, 0.85);
}

.faq-answer p {
    margin: -30px 0 50px 0;
    font-size: 16px;
    font-weight: 400;
}


.activation-btn img{
    width: 90%;
    cursor: pointer;
}

/* 2xl */
@media (min-width: 2560px) {
    .faq-container__header {
        padding-left: 1%;
    }

    .faq-contents__container {
        padding-left: 0%;
    }

    .faq-question__container {
       gap: 30px;
       padding-bottom: 0px;
    }

    .faq-contents {
        padding: 20px 70px 0px 70px;
    }

    .actual-faq-question {
        font-size: 46px;
    }
    .faq-question__number {
        font-size: 60px;
    }
    .faq-answer p {
        margin: -10px 0 50px 50px;
        font-size: 28px;
    }

    .activation-btn img{
        width: 100%;
    }

}

/* xl */
@media (min-width: 1440px) {
    .faq-container__header {
        padding-top: 6%;
    }

    .faq-container {
        padding-left: 2%;
    }
}

/* lg */
@media (max-width: 1024px) {
    .faq-contents {
        padding: 10px 60px 0px 60px;
    }
}

/* md */
@media (max-width: 768px) {
    .faq-container__header h1 {
        font-size: 40px;
    }
    .faq-container__header p {
        font-size: 20px;
    }
    .faq-contents {
        padding: 10px 80px 0px 80px;
    }
    .actual-faq-question {
        font-size: 20px;
    }
    .faq-question__number {
        color: rgba(60, 60, 67, 0.5);
        font-size: 30px;
    }
    .faq-answer p {
        margin: -10px 0 50px -18px;
        font-size: 14px;
    }
}

/* sm */
@media (max-width: 640px) {}

/* xs */
@media (max-width: 475px) {}