.footer-container {
    position: absolute;
    width: 100%;
    /* bottom: 0; */
}

.footer-header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1A6334;
    font-weight: 400;
    font-size: 30px;
}

footer {
    background-color: #164C28;
    color: white;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    padding: 60px 80px 30px 80px;
}

footer p {
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 15px 0;
    cursor: pointer;
}

.copyright-container {
    width: 300px;
}

.copyright-container img {
    width: 70%;
    margin-bottom: 25px;
}

.extra-large {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    cursor: default;
}

.socials {
    display: flex;
    margin-top: 40px;
    gap: 15px;
    align-items: center;
}

.socials div {
    width: 35px;
    height: 35px;
}

.socials img {
    width: 100%;
    cursor: pointer;
}

.email-field {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.email-field img {
    position: absolute;
    right: 11px;
    cursor: pointer;
}

.email-field input {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 9px;
    width: 230px;
    padding: 14px 15px;
    color: #D9DBE1;
}

.email-field input::placeholder {
    color: #D9DBE1;
    font-size: 14px;
}

.email-field input:focus {
    outline: none;
  }


  /* 2xl */
@media (min-width: 2560px) {
    .footer-container {
        position: absolute;
        width: 112%;
        /* bottom: 0; */
    }

    footer p {
        font-size: 20px;
        font-weight: 300;
        margin: 0 0 15px 0;
    }

    .extra-large {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .email-field input {
        width: 300px;
        padding: 15px 15px;
    }
    
    .email-field input::placeholder {
        font-size: 15px;
    }

    .copyright-container__logo img {
        width: 90%;
    }
    .socials {
        display: flex;
        margin-top: 40px;
        gap: 25px;
        align-items: center;
    }

}

/* xl */
@media (min-width: 1440px) {
    .footer-container {
        width: 101.5%;
    }
}

/* lg */
@media (max-width: 1024px) {
    footer {
        gap: 50px;
    }

    .email-field img {
        right: 17px;
        width: 8%;
    }

    .support-container {
        width: 150px;
    }

    .socials {
        display: flex;
        margin-top: 35px;
        gap: 15px;
        align-items: center;
    }
    
    .socials div {
        width: 34px;
        height: 34px;
    }
    
    .socials img {
        width: 100%;
        cursor: pointer;
    }
}

/* md */
@media (max-width: 768px) {
    footer {
        justify-content: space-between;
        padding: 60px 40px 30px 40px;
        gap: 10px;
    }

    footer p {
        font-size: 12px;
        font-weight: 300;
        margin: 0 0 15px 0;
    }

    .extra-large {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .copyright-container {
        width: 200px;
    }

    .socials {
        display: flex;
        margin-top: 30px;
        gap: 15px;
        align-items: center;
    }
    
    .socials div {
        width: 30px;
        height: 30px;
    }
    
    .socials img {
        width: 100%;
        cursor: pointer;
    }

    .email-field img {
        right: 17px;
        width: 6%;
    }
    
    .email-field input {
        width: 200px;
        padding: 10px 14px;
    }
    
    .email-field input::placeholder {
        font-size: 12px;
    }

    .footer-header {
        font-size: 26px;
    }
}

/* sm */
@media (max-width: 640px) {}

/* xs */
@media (max-width: 475px) {}

